In [4]:
import pandas as pd
vine_df = pd.read_csv("vine_table.csv")

In [6]:
# Create the vine_table. DataFrame
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3W4P9UBGNGH1U,2.0,1.0,3.0,N,Y
1,R15V54KBMTQWAY,4.0,0.0,0.0,N,N
2,RY8I449HNXSVF,5.0,0.0,0.0,N,Y
3,R18TLJYCKJFLSR,5.0,0.0,0.0,N,Y
4,R1NK26SWS53B8Q,5.0,0.0,0.0,N,Y

In [10]:
# from pyspark.sql.types import IntegerType,BooleanType,DateType
# vine_df = vine_df.withColumn("star_rating", vine_df.star_rating.cast("integer"))

### Connect to the AWS RDS instance and write each DataFrame to its table.

In [9]:
more_than_20_votes_df = vine_df[vine_df["total_votes"]>20]
more_than_20_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3.0,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5.0,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4.0,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2.0,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4.0,45.0,47.0,N,Y

In [10]:
helpful_votes_df = more_than_20_votes_df[(more_than_20_votes_df["helpful_votes"]/more_than_20_votes_df["total_votes"])>=0.5]
helpful_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3.0,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5.0,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4.0,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2.0,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4.0,45.0,47.0,N,Y

In [11]:
vine_paid_df = helpful_votes_df[helpful_votes_df["vine"]=="Y"]
vine_paid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
7585,R1MAOLI5FJHAFM,4.0,249.0,261.0,Y,N
13291,R9PYAUDIBJVEC,4.0,12.0,22.0,Y,N
23444,R6V9SHMMG5M8F,5.0,101.0,110.0,Y,N
38024,R37PVLT6ELL5J4,4.0,181.0,209.0,Y,N
88492,R2FSFGWZF24V9,4.0,50.0,51.0,Y,N

In [12]:
vine_unpaid_df = helpful_votes_df[helpful_votes_df["vine"]=="N"]
vine_unpaid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3.0,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5.0,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4.0,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2.0,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4.0,45.0,47.0,N,Y

In [15]:
total_reviews = helpful_votes_df.count()['review_id']
total_reviews

61724

In [18]:
vine_5s_total = helpful_votes_df[helpful_votes_df['star_rating'] == 5].count()['review_id']
vine_5s_total

29052

In [19]:
vine_paid_5s_total = vine_paid_df[vine_paid_df['star_rating'] == 5].count()['review_id']
vine_paid_5s_total

213

In [20]:
vine_unpaid_5s_total = vine_unpaid_df[vine_unpaid_df['star_rating'] == 5].count()['review_id']
vine_unpaid_5s_total

28839

In [21]:
vine_paid_percentage = (vine_paid_5s_total/vine_5s_total)*100
vine_paid_percentage

0.7331681123502685

In [22]:
vine_unpaid_percentage = (vine_unpaid_5s_total/vine_5s_total)*100
vine_unpaid_percentage

99.26683188764973